@import "./variables";
.toolbar {
  /*common styles*/
  position: absolute;
  width: 100%;
  height: $bar-height;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 8px 20px;
  background-color: white;
  /*unique styles*/
  z-index: 1;
  display: flex;
  gap: 15px;
  padding: 8px 20px;

  &__btn {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &_brush {
      background: url("../images/brush.svg") center center no-repeat;
      background-size: cover;
    }

    &_rect {
      background: url("../images/rect.svg") center center no-repeat;
      background-size: cover;
    }

    &_circle {
      background: url("../images/circle.svg") center center no-repeat;
      background-size: cover;
    }

    &_eraser {
      background: url("../images/eraser.svg") center center no-repeat;
      background-size: cover;
    }

    &_line {
      background: url("../images/line.svg") center center no-repeat;
      background-size: cover;
    }

    &_save {
      margin-left: auto;
      background: url("../images/save.svg") center center no-repeat;
      background-size: cover;
    }
  }
}
